/*header*/
.vk_dashboard_navbar a.navbar-brand {
	display: none;
}

nav.navbar.vk_dashboard_navbar {
	border-bottom: 1px solid transparent;
	background-color: transparent;
}
.vk_dashboard_menu ul.nav li a {
	color: rgb(255, 255, 255);
}
nav.vk_dashboard_navbar.navbar.shrink  a.navbar-brand {
	display: block;
}
.user_li .media-body p{color: #fff;}





/*body{background-color: #49494c}*/
.abt_banner img{max-width: 100%;
}

.our_story{
	clear: both;
	position: relative;
	background-color: #ffffff;
	background-image: url(img/ready_to_tutor_now_bg_left.png), url(img/ready_to_tutor_now_bg_right.png);
	background-position: left bottom, right bottom;
	background-repeat: no-repeat, no-repeat;
}

.our_mission{
	background: #ecf0f1;
	padding-bottom: 70px;
}
.our_mission .text_part{
	padding-top:170px;
}
.img_con{position: relative;}
.image_part {
	position: relative;
}
.image_part img {
	position: absolute;
}
.image_part.story img{
	left: -60px;
}
.image_part.mission img{
	right: -40px;
}
.text_part h2{
	font-size: 50px;
	font-family: "Raleway";
	color: rgb(36, 36, 36);
	font-weight: 400;
	margin-bottom: 16px;
}

.text_part h2, .text_part p{
	text-align: left;
}

.text_part {
	padding: 150px 0 80px ;
	clear: both;
}
.text_part p {
	font-size: 22px;
	font-family: "Roboto";
	color: rgb(143, 143, 144);
	line-height: 31px;
	margin-bottom: 20px;
}

.out_team {
	position: relative;
	background-color: #49494c;
	z-index: 2;
}
.out_team:after{
	position: absolute;
	content:'';
	border-left:8px solid #7cb766;
	border-right:8px solid #3db0af;
	top:0;left:50%;
	transform: translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width:21px;
	height:50%;
	z-index: -1;
}
.out_team:before {
	position: absolute;
	content: '';
	border-top: 18px solid #49494c;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	width: 0;
	height: 0;
	left: 50%;
	bottom: -17px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 2;
}
.our_team_heading {
	background-color: #49494c;
}
.team_members{text-align: center;margin-top: 135px;margin-bottom:135px;position: relative;}

.our_team_heading h2 {
	font-size: 50px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	/*	padding-top: 5px;*/
	margin-bottom: 0;
}
.our_team_heading p{
	line-height: 35px;
	padding-bottom: 10px;
}
.mem_img.mem1 {
	margin-left: 25px;
}
.mem_img.mem3 {
	margin-right: 25px;
}
.mem_img a {
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
}

.mem_img .img_con {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.hover_efct{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	background: -moz-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(163,205,66,1)), color-stop(100%, rgba(130,213,245,1)));
	background: -webkit-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -o-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: linear-gradient(90deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd42', endColorstr='#82d5f5',GradientType=1 );
}

.mem_img a:hover .hover_efct {
	background: -moz-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(163,205,66,1)), color-stop(100%, rgba(130,213,245,1)));
	background: -webkit-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -o-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	background: linear-gradient(90deg, rgba(163,205,66,1) 0%, rgba(130,213,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd42', endColorstr='#82d5f5',GradientType=1 );
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

}
.cont_efct {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	-webkit-transform: translate(-50% ,-50%);
	-moz-transform: translate(-50% ,-50%);
}
.cont_efct h6{
	font-size: 22px;
	margin:0;
	line-height: 33px;
}
.cont_efct span{
	font-weight: 300;
	font-size:18px;
}
.mem_img ,.mem_img img{height:235px;width:235px;border-radius:50%;margin:0 auto;}
.mem_img:after{
	width:100%;
	left: 50%;
	content: '';
	position: absolute;
	height:8px;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background-color: #3db0af;
}

.mem_img.mem2:after{background-color: #7cb766;}
.mem_img.mem3:after{display: none;}

.join_us{
	position: relative;
	background-image: url(img/joinus1.jpg);
	background-position:right 70px bottom;
	background-repeat: no-repeat;
	background-color:#303033;text-align:center;
	padding:  0;
}
.join_us img{
	position: absolute;
	left: -33px;
	bottom: 0;
}
.join_team {padding: 98px 0 98px;}
.join_team h1 {
	font-size: 56px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: 300;
	line-height: 40px
}
.join_team p {
	font-size: 32px;
	padding-top: 13px;
	font-family: "Raleway";
	color: rgb(111, 111, 116);
	line-height: 32px;
}
.join_team h1 b{font-weight: 700;}
.join_team .join {
	font-size: 22px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 6px 99px;
	border-radius: 33px;
	margin-top: 40px;
}


			@media(max-width: 1300px){
				.vk_dashboard_menu ul.nav li {
					padding-left: 13px;
				}
			}
			@media(max-width:1250px){
				.join_team h1 {
					font-size: 50px;
				}
				.join_team .join {
					padding: 0px 70px;
				}
				.join_us img {
					left: 0;
				}
			/*.learning h2 {
				font-size: 35px;
			}
			.learning p {
				padding-bottom: 10px;
			}
			.btn.learn {
				margin-top:0px;
				line-height: 50px;
				}*/
			}
			@media(max-width: 1110px){
				.vk_dashboard_menu ul.nav li {
					padding-left: 6px;
				}
			}
			@media(max-width: 1199px){
				.text_part h2 {
					font-size: 40px;
					margin-top: 0;
				}
				.our_mission {
					padding-bottom: 0;
				}
				.join_team h1 {
					font-size: 44px;
				}
			/*.learning p {
				padding-top: 0;
				}*/
				.join_us img {
					left: 0;
					width: 190px;
				}
				.mem_img, .mem_img img {
					height: 200px;
					width: 200px;
				}
				.team_members {
					margin-bottom: 100px;
				}
			/*.learning p {
				font-size: 25px;
				line-height: 45px;
				padding-bottom: 0;
				}*/
				.our_team_heading h2 {
					font-size: 40px;
				}
			/*.img_group img.sub1 {
				left: 80px;
			}
			.img_group img.sub2 {
				left: 20px;
			}
			.img_group img.sub3 {
				left: 190px;
			}
			.img_group img.sub6 {
				right: 167px;
			}
			.img_group img.sub4 {
				top: -22px;
			}
			.img_group img.sub5 {
				right: 40px;
			}
			.learning {
				padding: 50px 0 70px;
				}*/
			}

			@media(max-width: 991px){
				.vk_dashboard_navbar a.navbar-brand {
					display: block;
				}
				.our_story .col-sm-5 ,.our_story .col-sm-7{width:100%;}
				.image_part img {
					position: static;
					width: 70%;
				}
				.image_part {
					text-align: center;
				}
				.join_us img {
					left: -25px;
					width: 189px;
				}
				.join_team h1 {
					font-size: 35px;
				}
				.join_team .join {
					margin-top: 25px;
					padding: 0px 60px;
					line-height: 50px;
				}
				.team_members {
					margin-top: 100px;
					margin-bottom: 100px;
				}
				.learning h2 {
					font-size: 28px;
				}
				.mem_img, .mem_img img {
					height: 150px;
					width: 150px;
				}
				.team_members {
					margin-top: 80px;
					margin-bottom: 60px;
				}
				.btn.learn {
					margin-top: 10px;
					padding: 0 35px;
				}
				.join_team p {
					font-size: 24px;
				}
				.text_part {
					padding: 40px 0;
				}
				.our_mission {
					padding-bottom: 0;
				}
				.our_mission .text_part {
					padding-top: 40px;
				}
				.img_group img.sub1 {
					left: 25px;
					top: -15px;
				}
				.img_group img.sub2 {
					left: 5px;
					top: 140px;
					width: 120px;
				}
				.img_group img.sub3 {
					left: 140px;
					width: 150px;
					top: 12px;
				}
				.img_group img.sub6 {
					right: 125px;
					width: 150px;
					top: 55px;
				}
				.img_group img.sub4 {
					top: -12px;
					right: 0px;
					width: 120px;
				}
				.img_group img.sub5 {
					right: 20px;
					width: 100px;
					bottom: 50px;
				}
				.img_group img.dekstop_icon {
					bottom: 26px;
					width: 190px;
				}
				.learning {
					padding: 60px 0 50px;
				}
				.our_story {
					background-size: 150px;
				}
			}

			@media(max-width: 810px){
				.join_us img {
					display: none;
				}
			}


			@media(max-width: 767px){
				.our_story {
					background-image: none;
				}
				.learning{background-size:200px;}
				.learn_img{display: block; padding: 0 30px;}
				.thread ,.img_group{display: none;}
				.learning h2{line-height: 34px;}
				.join_team {
					padding: 60px 0 65px;
				}
			}

			@media(max-width: 670px){
				.out_team::after {
					height: 80%;
				}
				.learning h2 {
					font-size: 25px;
				}
			}

			@media(max-width: 550px){
				.team_members .col-xs-4{
					width:100%;
				}
				.text_part p {
					font-size: 18px;
					line-height: 25px;
					margin-bottom: 10px;
				}
				.mem_img::after {
					display: none;
				}
				.mem_img{
					margin-top:40px;
				}
				.team_members {
					margin-top: 0;
				}
				.our_team_heading h2 {
					font-size: 35px;
					line-height: 32px;
					padding-top: 10px;
				}
				.our_team_heading p {
					line-height: 25px;
				}
				.join_team {
					padding: 50px 0 55px;
				}
				.join_team .join {
					padding: 0px 45px;
					line-height: 40px;
					font-size: 19px;
				}
				.join_team h1 {
					font-size: 30px;
				}
				.join_team .join {
					margin-top: 8px;
				}
				.out_team:after {
					border-left: 4px solid #7cb766;
					border-right: 4px solid #3db0af;
					width: 12px;
				}
				.join_team p {
					font-size: 19px;
					padding: 0;
				}
				.text_part {
					padding: 30px 0;
				}
				.learning h2 {
					font-size: 22px;
					line-height: 27px;
				}
				.learning p {
					font-size: 22px;
					line-height: 33px;
					margin-bottom: 0;
				}
				.mem_img.mem1 {
					margin-left: auto;
				}
				.mem_img.mem3 {
					margin-right: auto;
				}
				.text_part h2 {
					font-size: 32px;
					margin-bottom: 10px;
				}
				.image_part img {
					width: 100%;
				}
				.learn_img{ padding: 0 10px;}
			}





