@font-face {
	font-family: 'pwchalkmedium';
	src: url('fonts/pwchalk-webfont.eot');
	src: url('fonts/pwchalk-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/pwchalk-webfont.woff2') format('woff2'),
	url('fonts/pwchalk-webfont.woff') format('woff'),
	url('fonts/pwchalk-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}



.ty_header{
	background-image: url(img/bg_ty.jpg);
	background-color: transparent;
	padding: 45px 0 35px;
}


.ty_header h1{
	font-size: 70px;
	font-family: "pwchalkmedium";
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;    margin-bottom: 0
}

.ty_header p{
	font-size: 24px;
	font-family: "Raleway",san-serif;
	color: rgb( 255, 255, 255 );
	line-height: 2;
	font-weight: 300;

}

.package_section{
	background-color:#ecf0f1;
	padding: 10px 0 75px;
	background-image: url(img/package_section_bg.jpg);
}

.package_section h2{font-size: 40px}

.package_flex {
	display: -webkit-flex;	display: -ms-flex;	display: flex;
	margin-top: 30px;
}

.package_details, .payment_details{ 	margin: 0 11px; background-color: #fff;
	border-bottom-left-radius: 5px;    border-bottom-right-radius: 5px;
}

.package_details{	-webkit-flex: 7; 	-ms-flex: 7; 	flex: 7; margin-left: 0px}

.payment_details{	-webkit-flex: 5; 	-ms-flex: 5; 	flex: 5; margin-right: 0px}

.package_details h3, .payment_details h3 {
	font-size: 24px;
	color: rgb( 255, 255, 255 );
	font-weight: 400;
	background-image: -moz-linear-gradient( 0deg, rgb(150,195,63) 0%, rgb(72,176,210) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(150,195,63) 0%, rgb(72,176,210) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(150,195,63) 0%, rgb(72,176,210) 100%);
	margin: 0;
	padding: 20px 28px;
	text-align: left;
	line-height: 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.package_table{
	padding: 46px 42px 65px;
	
}

.table{margin-bottom: 0}
.table tbody ,.table tbody tr td{
	border: 1px solid #ecf0f1;
}


.table tbody tr td{
	padding: 14px;	font-size: 15px;line-height: 21px;
	color: rgb( 87, 88, 90 );	text-align: left;vertical-align: middle;
}


.table tbody tr:nth-of-type(odd) td:first-child {
	border-bottom: 1px solid #687a8d; background-color: #687a8d;
}
.table tbody tr:nth-of-type(even) td:first-child {
	border-bottom: 1px solid #718396; 	background-color: #718396; 
}

.table tbody tr td:first-child{ padding-left: 20px;color: #fff; font-weight: 400; width: 50%;}
.table tbody tr td:last-child { 	border-bottom: 1px solid #ecf0f1; padding-left: 55px; font-weight: 300; width: 50%;}

.table tbody tr:nth-of-type(odd) td:last-child { background-color: #f3f5f7;}
.table tbody tr:nth-of-type(even) td:last-child {		background-color: #fff;}

.table tbody tr.total_hours td{ padding-top:16px; padding-bottom:16px }
.table tbody tr.total_hours td:first-child{ background-color:#546578; }
.table tbody tr.total_hours td:last-child{ color: #73b57b; font-weight: bold;}

.package_section .btn{	margin-top: 35px;}



.payment_details .table tbody tr td {	border-right: none;	border-left: none;}
.payment_details .table tbody tr:nth-of-type(odd) td {	border-bottom: 1px solid #f3f5f7;	background-color: #f3f5f7;}
.payment_details .table tbody tr:nth-of-type(even) td {
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
}

.payment_details  .table tbody tr td:first-child{
	color: rgb( 87, 88, 90 );font-weight: 500;
}

.payment_details .table tbody tr.amt_payable td{ background-color: #57585a; color: #fff;border: none;}


.payment_details .table tbody tr.amt_payable td:first-child{  padding-left: 28px;    padding-right: 0;}
.payment_details .table tbody tr.amt_payable td:last-child{  font-weight:bold; color: #75bb7d;}

.payment_details .table tbody tr.amt_payable.via_wallet td{ background-color: #4eb1c7; color: #fff; border: none;}















@media(max-width: 1199px){
	.package_section {    padding-bottom: 6%;}

	.ty_header {    padding: 5% 2% 4%;}

	.ty_header h1 {    font-size: 60px;    margin: 0;}
	.ty_header p {    line-height: 28px;    font-size: 22px;    margin: 0;    margin-top: 10px;}
	.package_section h2 {		font-size: 36px;	}
	.package_details h3, .payment_details h3 {		font-size: 22px;    padding: 18px 24px;    line-height: 22px;	}

	.package_table {			padding: 7% 6% 10%;	}
	.package_section .btn {		margin-top: 30px;	}

}


@media(max-width: 991px){
	.package_details ,.payment_details{     margin: 0 5px;}

	.package_details{ -webkit-flex: 58; -ms-flex: 58; flex: 58;	 }
	.payment_details{ -webkit-flex: 42; -ms-flex: 42; flex: 42;	 }



	.ty_header h1 { font-size: 48px;}
	.ty_header p { font-size: 20px;}

	.package_section h2 { font-size: 30px ;}

	.package_details h3, .payment_details h3 { font-size: 20px; padding: 15px 20px; line-height: 22px;}

	.table tbody tr td {    padding: 12px;}
	.table tbody tr td:first-child {		padding-left: 14px;}
	.table tbody tr td:last-child {    padding-left: 25px;}


	.table tbody tr.total_hours td {    padding-top: 14px;    padding-bottom: 14px;}
	.payment_details .table tbody tr.amt_payable td:first-child {		padding-left: 20px;	}

	


}


@media(max-width: 767px){

	.package_flex {    display: block;}
	.package_details, .payment_details {		margin: 0 0 20px 0;	}
	.payment_details {		margin-bottom: 0 ;	}

	.ty_header h1 { font-size: 40px;	}
	.ty_header p { font-size: 19px;	}
	.package_section h2 { font-size: 25px; margin: 0; margin-top: 5px;	}
	.package_flex { margin-top: 3%;	}


	.package_details h3, .payment_details h3 {    font-size: 18px;    padding: 14px 20px;}

	.package_section .btn {    margin-top: 20px;}



}





@media(max-width: 500px){
	.package_table {
		padding: 5% 10px 6%;
	}
}





















/*How do you want to do your payment?*/
.forgot_pass_form.register_inner.choose_payment .left_side {
	background-color: #303033;
	background-image: url(img/bg_login.jpg);
}
@media(min-width: 767px){
	.forgot_pass_form.register_inner.choose_payment .left_side, .forgot_pass_form.register_inner.choose_payment .right_side {
		padding-top: 40px;		padding-bottom: 50px;
	}
}
.ringz{
	width: 115px;	height: 115px;	position: relative;	display: block;
	border-radius: 100%;	background-color: rgb(150, 195, 63);    margin-bottom: 25px;
	background-image: -moz-linear-gradient(0deg, rgb(150, 195, 63) 0%, rgb(72, 176, 210) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(150, 195, 63) 0%, rgb(72, 176, 210) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(150, 195, 63) 0%, rgb(72, 176, 210) 100%);
}
.ringz span {	position: absolute;
	width: 111px;	height: 111px;	left: 0;
	right: 0;	top: 0;	bottom: 0;	background: #fff;
	border-radius: 100%;	margin: auto;
}
.ringz span img{	left: 0;	right: 0;	top: 0;	bottom: 0;	margin: auto;position: absolute;}
.radio_div {    margin: 0 0 35px 0;    float: left;    width: 100%;}
.radio_div ul li {
	width: 50%;	float: left;	border-right: 1px solid #e2e2e2;
}
.radio_div ul li:last-child{ border-right:none;}
.forgot_pass_form.choose_payment .right_side h4 {
	margin-bottom: 30px;	font-size: 25px;	color: rgb( 27, 27, 27 );	font-weight: bold;
}
.select_option{ position: relative;    text-align: center;}
input[type=radio]{	position: absolute;	visibility: hidden;}
.select_option > label {
	position: relative;    font-weight: 300;	font-size: 17px;    margin: 0;
	text-align: center;	z-index: 9;    cursor: pointer; 
}
.select_option .check {
	display: block;    position: absolute;
	border: 1px solid #c8d2d7;    border-radius: 100%;
	height: 20px;    width: 20px;    top: 103px;    left: 0;
	right: 0;    margin: auto;    z-index: 22;    transition: border .25s linear;
	-webkit-transition: border .25s linear;    background: #fff;
}
.select_option .check::before {
	display: block;	position: absolute;	content: '';	border-radius: 100%;
	height: 10px;    width: 10px;    bottom: 0;    top: 0;
	right: 0;    left: 0;    margin: auto;	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}
/*.select_option:hover label{	color: #8bc63e;}*/
.select_option:hover label .check {	border: 1px solid #8bc63e;}
input[type=radio]:checked ~ label .check {	border: 1px solid #8bc63e;}
input[type=radio]:checked ~ label .check::before{	background: #8bc63e;}
/*input[type=radio]:checked ~ label{	color: #8bc63e;}*/
.choose_payment  { text-align: center;	}
.choose_payment  .btn{	padding: 0 45px ; font-weight: 500;}

@media(max-width: 1199px){
	.forgot_pass_form.choose_payment .my_character {    width: 300px;}
	.choose_payment  .btn{	padding: 0 40px  !important;     font-size: 16px !important;}
	.forgot_pass_form.choose_payment .right_side h4 {    margin-bottom: 25px;    font-size: 24px;    line-height: 28px;}
}
@media(max-width: 991px){
	.forgot_pass_form.choose_payment .my_character {    width: 250px;}
	.choose_payment  .btn{	padding: 0 30px  !important; }
	.forgot_pass_form.choose_payment .right_side h4 {    margin-bottom: 23px;    font-size: 22px;    line-height: 26px;}
	.ringz { width: 100px; height: 100px;    margin-left: auto;margin-right: auto;    margin-bottom: 18px;}
	.ringz span { width: 96px; height: 96px;}
	.select_option .check {    top: 88px;}
	.select_option > label {    font-size: 16px;}
	.ringz span img { width: 48px;}
}
@media(max-width: 400px){
	.forgot_pass_form.choose_payment .right_side h4 {    margin-bottom: 20px;    font-size: 20px;    line-height: 22px;}
}
/*How do you want to do your payment?*/